<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoldUp - Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <!-- HEADER -->
  <header class="fixed-top p-3 bg-black ">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="d-flex align-items-center me-3 mb-lg-2 fw-bold link-light fs-3 text-decoration-none" href="/">
          HoldUp
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        </ul>
        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <a class="d-flex align-items-center mb-2 mb-lg-0 me-2 link-light link-opacity-50-hover fw-normal fs-5 text-decoration-none"
              href="#">
              Contact
            </a>
            <div>
            </div>
            <a class="d-flex align-items-center mb-2 mb-lg-0 ms-2 link-light link-opacity-50-hover fw-normal fs-5 text-decoration-none"
              href="#">
              About Us
            </a>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- PAGE BODY -->
  <div id="background" class="container-bg">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5 fade" id="Hero">
      <div class="row align-items-top g-lg-5 py-5">
        <!-- Hero Text -->
        <div class="col-lg-7 text-center text-lg-start">
          <div class="p-2"></div>
          <div class="p-5"></div>
          <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to HoldUp!</h1>
          <p class="col-lg-10 fs-5">Creating meaningful connections between gyms and climbers</p>
        </div>

        <!-- Form Column -->
        <div class="col-md-10 mx-auto col-lg-5">
          <div class="p-3"></div>
          <h1 class="display-6 fw-bold text-center lh-1 mb-3">Login to your Account</h1>
          <form class="p-4 p-md-5 border rounded-3 bg-light needs-validation" id="login-form" novalidate>

            <!-- Google Button -->
            <row>
              <div class="col-md-12 align-items-center text-center">
                <a class="btn btn-lg btn-google btn-block fw-bold btn-outline-primary" href="#">
                  <img src="https://img.icons8.com/?size=20&id=6VY1AI_1I8pJ&format=png&color=000000" class="mb-1">
                  Login with Google
                </a>
              </div>
            </row>

            <hr class="my-4">
            <!-- Username -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-validator" id="username-input" placeholder="Username"
                required>
              <label for="username-input">Username or Email</label>
              <div class="invalid-feedback fw-bold" id="username-input-warning">
                Please enter a valid username or password
              </div>
            </div>

            <!-- Password -->
            <div class="form-floating has-validation mb-3">
              <input type="password" class="form-control form-validator" id="password-input" aria-label="password"
                placeholder="Password" required>
              <label for="password-input">Password</label>
              <div class="invalid-feedback">Invalid password</div>

              <!-- Password Alert -->
            </div>

            <!-- TOC -->
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" class="form-validator" id="tocCheckbox" value="toc" required> Remember me
              </label>
            </div>

            <!-- Submit -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>

            <hr class="my-4">
            <!-- Login Prompt -->
            <div class="d-flex justify-content-center align-items-center">
              <small class="text-muted me-1">Don't have an account? </small><a class="link-primary link-opacity-75-hover"
              href="signup">Create an Account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Scripts-->
  <script>
    // Add the 'show' class to trigger the Bootstrap fade-in effect on page load
    window.addEventListener('DOMContentLoaded', () => {
      const form = document.getElementById('Hero');
      form.classList.add('show');
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>