<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Users</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>

  <!-- HEADER -->
  <header id="h" class="fixed-top p-3 bg-black ">
    <div id="header" class="container">
      <div id="hCont" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="d-flex align-items-center me-3 mb-lg-2 fw-bold link-light fs-3 text-decoration-none" href="/">
          HoldUp
        </a>
        <div class="vr link-light"></div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" class="nav-link px-2 link-light fw-bold">Home</a></li>
          <li><a href="../routes" class="nav-link px-2 link-light link-opacity-75-hover">Gym Routes</a></li>
          <li><a href="../archive" class="nav-link px-2 link-light link-opacity-75-hover">Archive</a></li>
          <li><a href="../news" class="nav-link px-2 link-light link-opacity-75-hover">News</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://img.icons8.com/?size=100&id=107049&format=png&color=000000"
              style="background-color: #f8f9fa;" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <!--Logged in buttons-->
            <li><button type="button" data-bs-toggle="modal" data-bs-target="#createRoute"
                class="dropdown-item logged-in role-setter" style="display: none;"> + New route</button></li>
            <li><a class="dropdown-item logged-in" style="display: none;" href="#">Profile</a></li>
            <li><a class="dropdown-item logged-in" style="display: none;" href="../settings">Settings</a></li>
            <li>
              <hr class="dropdown-divider logged-in" style="display: none;">
            </li>
            <li><a class="dropdown-item logged-in" style="display: none;" id="logoutButton" href="#">Logout</a></li>
            <script>
              //logout button
              document.getElementById('logoutButton').addEventListener('click', function () {
                // Perform logout logic here
                alert("You have been logged out. Refreshing page...")
                sessionStorage.removeItem("jwt")
                window.location.reload();
              });
            </script>

            <!--Logged out buttons-->
            <li><a class="dropdown-item logged-out" style="display: none;" href='../account/login'>Login</a></li>
            <li><a class="dropdown-item logged-out" style="display: none;" href='../account/signup'>Create an
                Account</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- Create Route Modal -->
  <div class="modal fade" id="createRoute" tabindex="-1" aria-labelledby="createRoute" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="routeTitle">Create a new route</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="p-5 modal-body">
          <form id="routeCreationForm">
            <div class="mb-4">
              <label class="form-label" for="settings-box-profile_picture">Route Image</label>
              <input type="file" name="image" class="form-control" id="settings-box-profile_picture">
            </div>

            <div class="input-group mb-4">
              <span for="route-name-field" class="input-group-text">Route Name</span>
              <input type="text" name="name" class="form-control" id="route-name-field" aria-label="route type">
            </div>


            <div class="input-group mb-4">
              <label class="input-group-text" for="inputGroupSelect01">Route Type</label>
              <select class="form-select" name="type" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Boulder</option>
                <option value="2">Sport</option>
              </select>
            </div>


            <div class="input-group mb-4">
              <span for="route-grade-field" class="input-group-text">Route Grade</span>
              <input type="text" name="grade" class="form-control" id="route-name-field" aria-label="route grade">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-text">Route Description</span>
              <textarea type="text" name="description" class="form-control" id="route-name-field"
                placeholder="Enter Description" aria-label="route name"></textarea>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="createRouteSubmit" class="btn btn-primary">Create Route</button>
        </div>
      </div>
    </div>
  </div>

  <!--Delete Post MODAL-->
  <div class="modal fade" id="deleteWarning" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteWarningLabel">Post Deletion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="deletionBody">
          <p class="h6" id="deletetionTargetLabel"></p>
          <p class="text-danger h6 fw-bold">This action is irreversible. Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="deletePostButton">Delete Post</button>
        </div>
      </div>
    </div>
  </div>

  <!--Select role change MODAL-->
  <div class="modal fade" id="changeRole" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="changeRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="changeRoleLabel">Role Change</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-2">Select a new role for this user:</div>
          <div>
            <form>
              <select class="form-select" id="roleOptions" aria-label="Default select example">
                <option value="-1" selected>Select a role</option>
              </select>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-seconday" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="changeRoleButton">Apply</button>
        </div>
      </div>
    </div>
  </div>




  <!-- Edit Post Modal -->
  <div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="createPost" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="e-postTitle">
            
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="p-5 modal-body">
          <form id="editPostForm">
            <div class="mb-4">
              <label class="form-label" for="settings-box-profile_picture">Post Image</label>
              <input type="file" name="image" class="form-control" id="settings-box-profile_picture">
            </div>

            <div class="input-group mb-4">
              <span for="post-name-field" class="input-group-text">Post Name</span>
              <input type="text" name="name" class="form-control" id="e-post-name-field" aria-label="post type">
            </div>

            <div class="input-group mb-4">
              <label class="input-group-text" for="inputGroupSelect01">Post Type</label>
              <select class="form-select" name="type" id="e-post-type">
                <option selected id="e-Def">Choose...</option>
                <option value="1" id="e-Boulder">Boulder</option>
                <option value="2" id="e-Sport">Sport</option>
              </select>
            </div>

            <div class="input-group mb-4">
              <span for="post-grade-field" class="input-group-text">Post Grade</span>
              <input type="text" name="grade" class="form-control" id="e-post-grade-field" aria-label="post grade">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-text">Post Description</span>
              <textarea type="text" name="description" class="form-control" id="e-post-desc-field"
                placeholder="Enter Description" aria-label="post name"></textarea>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" id="editPostSubmit" class="btn btn-primary">Submit Changes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Side NAVBAR-->
  <main>
    <div id="body" class="container-fluid " style="height: 100vh;">
      <script>
        function e(event) {
          //do work
          var b = document.getElementById("body");
          var h = document.getElementById("h");
          b.style.paddingTop = h.offsetHeight + "px";
        }
        document.addEventListener("DOMContentLoaded", e);
        addEventListener('resize', e);

      </script>
      <div class="d-flex row flex-nowrap h-100">
        <div class="col-2 " style="width: 280px; height: 100%;">
          <div id="sidebar"
            class="d-flex position-sticky flex-column flex-shrink-0 bg-white collapse collapse-horizontal collapsed in show border-end"
            style="width: 280px; height: 100%;">
            <a href="#sidebar" data-bs-target="#sidebar" data-bs-toggle="collapse"
              class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <span class="ps-2 pt-3 fs-5 fw-bold">Dashboard</span>
            </a>
            <ul class="list-unstyled overflow-auto ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded fw-semibold " data-bs-toggle="collapse"
                  data-bs-target="#home-collapse" aria-expanded="false">
                  Users
                </button>
                <div class="collapse" id="home-collapse">
                  <ul class="ps-3 btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../dashboard/users.html" class="link-dark rounded" >Users</a></li>
                    <li><a href="#" class="link-dark rounded">Create a User</a></li>
                    <li><a href="#" class="link-dark rounded">Reports</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded fw-semibold collapsed"
                  data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Routes
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="ps-3 btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../dashboard/routes.html" class="link-dark rounded" >Routes</a></li>
                    <li><a href="../dashboard/archive.html" class="link-dark rounded">Archive</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#createRoute" class="link-dark rounded">Create a route</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded fw-semibold collapsed"
                  data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Announcements
                </button>
                <div class="collapse show" id="orders-collapse">
                  <ul class="ps-3 btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark fw-bolder rounded" style="background-color:#fffca6">Manage Posts</a></li>
                    <li><a href="#" class="link-dark rounded">Create a Post</a></li>
                  </ul>
                </div>
              </li>


            </ul>
          </div>
        </div>
        <div id="mainContent" class="col-10 ps-5 pt-4" style="background-color:#f8f9fa; width: 78%;">
          <div class="rounded border p-3 align-items-center overflow-scroll"
            style="background-color:white ;height: 95%">
            <table class="rounded table bdr">
              <h2>Posts list</h2>

              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="text-center">ID</th>
                  <th scope="col" class="text-center">Name</th>
                  <th scope="col" class="text-center">Author</th>
                  <th scope="col" class="text-center">Content</th>
                  <th scope="col" class="text-center">Publish Date</th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody id="postTable">
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </main>




  <!--Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/mainHeader.js"></script>
  <script src="../js/buildAnnouncementDash.js"></script>
</body>

</html>